html{
    scroll-behavior:smooth;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Oswald', sans-serif;
    background:#000;
    color:#fff;
}

header{
    height:100vh;
    background:
        linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
        url('images/hero.jpg');
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:0 20px;
}

.hero h1{
    font-size:60px;
    text-transform:uppercase;
}

.hero p{
    margin:20px 0;
    font-size:20px;
}

.btn{
    display:inline-block;
    padding:12px 30px;
    background:red;
    color:#fff;
    text-decoration:none;
    transition:0.3s;
}

.btn:hover{
    background:#cc0000;
}

section{
    padding:80px 20px;
    text-align:center;
}

.services{
    background:#111;
}

.cards{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
    margin-top:40px;
}

.card{
    background:#1a1a1a;
    padding:30px;
    width:250px;
    border-radius:10px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
    background:#222;
}

/* GALÉRIA */

.gym-photos{
    background:#000;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    max-width:1100px;
    margin:40px auto 0;
}

.gallery img{
    width:100%;
    height:300px;
    object-fit:cover;
    border-radius:10px;
    cursor:pointer;

    filter:grayscale(100%);
    transition:0.5s;
}

.gallery img:hover{
    transform:scale(1.08);
    filter:grayscale(0%);
    box-shadow:0 15px 35px rgba(0,0,0,0.6);
}

/* CONTACT */

.contact{
    background:#111;
}

.contact form{
    max-width:500px;
    margin:40px auto 0;
}

.contact input,
.contact textarea{
    width:100%;
    padding:15px;
    margin:10px 0;
    border:none;
    font-family:'Oswald', sans-serif;
}

.contact textarea{
    height:120px;
    resize:none;
}

/* FADE ANIMATION */

.fade{
    opacity:0;
    transform:translateY(30px);
    transition:all 0.8s ease;
}

.fade.show{
    opacity:1;
    transform:translateY(0);
}
/* NAVBAR */

.navbar{
    position:fixed;
    top:0;
    width:100%;
    background:rgba(0,0,0,0.9);
    padding:15px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:1000;
}

.logo{
    font-size:22px;
    font-weight:600;
    color:red;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:#fff;
    font-size:16px;
    transition:0.3s;
}

.nav-links a:hover{
    color:red;
}

/* hogy a fix menü ne takarja ki a tartalmat */

body{
    padding-top:80px;
}